body {  
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto","Arial", sans-serif;
  line-height: 1.2;
  color: #ffffff;
  background-color: #849d8f; 
}

body > input[type="radio"] {
  display: none;
}

.catalog-page {
  margin-left: 26px;
}

.site-wrapper {
  
  background-repeat: no-repeat;
  background-position: 75px top ;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/ice_main1.png");
}

.site-wrapper::after {
  background-image: url("../img/ice_main2.png");
}

.content-wrapper {
  width: 1200px;
  padding: 10px 100px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  width: 1146px;
}

.main-header a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 540px;
}



.main-navigation > ul {
  position: relative;
   display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 0;
  margin-left: ;
  width: 370px;
  list-style: none;
 
}

.active::before {
  position: absolute;
  top: -7px;
  left: -2px;
  content: "Каталог";
  padding: 7px 10px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  
}

.first-menu {
   padding:  0;
    margin: 0; 
 }

.first-menu > a{
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
}


.first-menu > a:hover {
  box-sizing: border-box;
  
  text-decoration: none;
  border: 1px solid #323232;
  border-radius: 25px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin: 0;
  color: #323232;
}

.one-units > a:hover {
  margin-left: -2px;
}

.two-units > a:hover {
  margin-left: -1px;
  margin-right: -1px;
}

.three-units > a:hover {
  margin-right: -2px;
}

.main-navigation .sub-menu {
  position: absolute;
  display: none;  
  list-style: none;
  padding: 10px 0;  
  margin: 0;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
 
}

.sub-menu a {
  text-decoration: none;
  color: #323232;  
}

.sub-menu li {
  padding: 0 20px;
}

.sub-menu li:first-child {
  font-weight: bold;
  border-bottom: 1px solid #323232;
}

.first-menu:hover  .sub-menu {
	display: block;
}
.sub-menu li:hover {
  background-color: #fbded7;
}

.sub-menu li:active {
  background-color: #d07058;
}

.second-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 12px;
  min-width: 260px;
}

.user-block {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.user-block a {
  font-size: 16px;
  line-height: 18px;
}
.user-block .users {
  text-decoration: none;
  background-color: #9db1a5;
}

 .user-block .user-search {
  display: inherit; 
  position: relative;
  font-size: 0;
  padding-left: 0;
  margin-right: 0;
  width: 32px;
  height: 32px;
  background-color: #9db1a5;
  border-radius: 50%;
}

.user-block .user-search::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  left: 5px;
  top: 6px;
  background: url("../img/sprite.png") no-repeat -689px -19px;
  border-radius: 50%;
}

.search-wrapper {
  position: relative;
}

.search-wrapper .search-form {
  position: absolute;
  top: 30px;
  left: -340px; 
  display: none;
  min-width: 340px;  
  padding: 20px;
  padding-top: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.search-wrapper:hover .search-form {
  display: block;
}

.search-form input[type="search"] {
  width: 310px;
  height: 40px;
  border: 1px solid #d3d3d2; 
}

.search-form label {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #d3d3d2;
  transition: all 0.5s;
}

.search-form input[type="search"]:hover {
  border: 2px solid #d3d3d2; 
}

.search-form input[type="search"]:focus {
  border: 2px solid #8fbdec; 
}

input[type="search"]:focus + label { 
  position: absolute;
  top: 5px;
  left: 30px;
  font-size: 11px;
  line-height: 13px;
  color: #8fbdec;
}

.user-block .user-search:hover::before {
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  background: url("../img/sprite.png") no-repeat -721px -12px; 
}

.search-wrapper:hover .user-form {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 440px;
  z-index: 80;
}

.user-block .login {
  position: relative;
  display: inherit;
  padding: 7px 10px 7px 40px;
  margin-left: 10px;
  border-radius: 20px;
  color: #ffffff; 
}
    
.user-block .login::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 18px;
  width: 22px;
  height: 22px;
  background: url("../img/sprite.png") no-repeat  -275px -19px;
}

.user-block .login:hover {
  color:#323232;
  background-color: #ffffff;
}

.user-block .login:hover::before {
  width: 22px;
  height: 22px;
  top: 0;
  left: 17px;
  background: url("../img/sprite.png") no-repeat -315px -17px; 
}

.login-wrapper {
  position: relative;
}

.login-wrapper .login-form {
  position: absolute;
  top: 30px;
  left: -200px; 
  display: none;
  max-width: 280px;  
  padding: 20px;
  padding-top: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 99;
}

.login-wrapper:hover .login-form {
  display: block;
}

.login-butons {
  display:flex;
  justify-content: space-between;
  
}

.login-check {
  display: flex;
  flex-direction: column;
}

.login-wrapper:hover .login-form {
  display: block;
}

.login-email,
.login-form input[type="password"] {
  width: 240px;
  height: 40px;
  border: 1px solid #d3d3d2; 
  border-radius: 5px;
  margin-bottom: 20px;
}

.login-wrapper a {
  color: #323232;
}

 .label-email {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #d3d3d2;
}

.label-password {
  position: absolute;
  top: 95px;
  left: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #d3d3d2;
}

.login-email:hover,
.login-form input[type="password"]:hover { 
   border: 3px solid #d3d3d2; 
  padding: 0px;
  
}

.login-email:focus,
.login-form input[type="password"]:focus{
  border: 2px solid #8fbdec; 
}

login-email:focus + label { 
  position: absolute;
  top: 5px;
  left: 30px;
  font-size: 11px;
  line-height: 13px;
  color: #8fbdec;
}

input[type="password"]:focus + label{ 
  position: absolute;
  top:70px;
  left: 30px;
  font-size: 11px;
  line-height: 13px;
  color: #8fbdec;
}

.login-butons {
  margin-top: 30px;
}

.login-butons input[type="submit"] {
  display: inline-block;
  padding: 15px 25px ;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  
}

.login-butons input[type="submit"]:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.login-butons input[type="submit"]:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.login-butons a {
  font-size: 13px;
  line-height: 24px;
}

.login-butons a:hover {
  color: #e84d37;
}

.login-butons a:active {
  color: #e84d37;
}


.basket-wrapper .basket {
  display: inherit;
  padding-left: 40px;
  padding-right: 30px;
  border-radius: 20px;
  padding: 7px 30px 6px 40px;
  margin-left: 8px;
}

.basket-of-goods {
  display: none;
  position: absolute;
  top: 30px;
  left: -350px;
  min-width:  540px;
  min-height: 250px;
  background-color: #ffffff;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  border-radius: 15px;
  z-index: 333;
}

.table-goods{
  display: table;
  border-bottom: 2px solid #cacac7;
}

.basket-of-goods ul {
  display: table-row;
}

.basket-of-goods li {
  display: table-cell;
  list-style: none;
}

.table-goods{
  margin: 20px;
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
}

.closed{
  position: relative;
  left: 5px;
  opacity: 20%;
}
   
.sum {
  float: right;
  margin-right: 20px;
  font-weight: bold;
}

.basket-of-goods input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: bottom;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  margin-top: 10px;
  margin-left: 320px
}

.basket-of-goods input[type="submit"]:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.basket-of-goods input[type="submit"]:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


.user-block .basket::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 152px;
  width: 21px;
  height: 21px;
  background: url("../img/sprite.png") no-repeat  -125px -19px;
}

.user-block .basket:hover {
  color: #323232;
  background-color: #ffffff;
}

.user-block .basket:hover::before {
  width: 22px;
  height: 22px;
  top: 2px;
  left: 149px;
  background: url("../img/sprite.png") no-repeat -165px -15px; 
}

.basket-wrapper:hover .basket-of-goods {
  display: block;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 180px;
  padding: 0;
  left: 5px;
  margin-top: 5px;  
}

.user-info p {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;  
}

.user-info a {
  font-size: 22px;
  line-height: 24px;
  font-size: 22px;
  text-decoration: none;
}

.user-info a:hover {
  color: #ffbc9e;
}

.user-info a:active {
  color: #ffbc9e;
}


.search-form,
.login-form {
  display: none;
}

main{
  width: 1146px;
}

.elevator{
  position: relative;
  top: -24px;
 
}

.slider {
  position: relative;
  padding-top: 274px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: bold;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  margin-bottom: 40px;
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 65px;
  left: 0;
  font-size: 0;
  z-index: 20;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice_main.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice_main1.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice_main2.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.promotional-offers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

}

.promotional-offers h3 {
  margin-top: 18px;
  margin-bottom: 0;
  font-size: 35px;
  line-height: 41px;
}

.promotional-offers p {
  margin-top: 12px;
  margin-bottom: 54px;
  font-size: 18px;
  line-height: 22px;
  
}

.promotional-offers a {
  padding: 12px 18px;
  padding-right: 22px;
  margin-left: 355px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  background-color: red;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  border-radius: 50px;
 
}

.promotional-offers a:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.promotional-offers a:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.promotional-left a {
  margin-left: 380px;
}

.promotional-offers h2,
.index-content h2 {
  display: none;
}

.promotional-left {
  width: 560px;
  height: 230px;
  background:url('../img/raspberry_bg.jpg') no-repeat;
  border-radius:15px;
}

.promotional-right {
  width: 560px;
  height: 230px;
  background: url('../img/chocolate-bg.jpg') no-repeat;
  border-radius: 15px;
}

.promotional-item {
  margin: 0;
  padding-bottom: 0;
  padding-left: 20px;
}

.promotional-item p {
  width: 510px;
}


.index-content {
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
   width: 1146px;
}


.goods-container {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.fourth{
  margin-right: 20px;
  margin-bottom: 20px;
}

.margin-none{
  margin-right: 0;
}

.catalog-item {
  position: relative;
  width: 267px;
  margin-right: 20px;  
}

.catalog-item:hover::after {
  content: "";
  position: absolute;
  
  top: 0;
  left: 0;
 
  padding: 200px 140px;
  background-color: rgba(255, 255, 255, 0.3);
}

.catalog-item:last-child {
  margin-right: 0;
}	

.catalog-item img {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  margin-bottom: -11px;	
}

.catalog-item .price {
  position: absolute;
  top: 203px;
  left: 0;
  font-size: 45px;                    
}

.price .units {
  font-size: 0.7em;
  margin-left: -5px;
}

.catalog-item p {
  text-align: center;
  padding-left: 0;
}
	
.hit::before {
  position: absolute;
  content: "";  
  width: 61px;
  height: 61px;
  background: #ffffff url("../img/hit.png") no-repeat;
  border-radius: 50%; 
}

 .purchase-link {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: -10px;
  padding-bottom: 0;
}  

.quick-view {
  position: absolute;
  bottom: -50px;
  display: none;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  background-color: red;
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border-radius: 50px;
  padding: 12px 18px;
  padding-right: 22px;
  margin-left: 20px;
  margin-right: 20px;
}



.catalog-item:hover .quick-view {
  display: block;
  z-index: 200;
}

.our-production {
  width: 1124px;
  height: 304px;
  background-size: cover;
  background: url("../img/f_fon.jpg");
  border-radius: 15px;
  color: #323232;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-left: 20px;
}  

.our-production h2 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.our-production p {
  box-sizing: border-box;
  position: relative;
  min-width: 540px;
  font-size: 16px;
  line-height: 22px;
  padding-left: 47px;
}

.production-wrapper .production-item:nth-child(2) {
  margin-right: 16px;
}

.production-item .cow-paragraph,
.production-item .ice-paragraph {
   padding-bottom: 6px;
 }

.ice-paragraph::before {
  position: absolute;
  content: "";
  left: -10px;
  top: -14px;
  width: 49px;
  height: 49px;
  background: transparent url("../img/sprite.png") no-repeat -571px -19px;
  border-radius: 50%;
}

.sheet-paragraph::before {
  position: absolute;
  content: "";
  left: -10px;
  top: -14px;
  width: 49px;
  height: 49px;
  background: transparent url("../img/sprite.png") no-repeat -765px -19px;
  border-radius: 50%;
}

.cow-paragraph::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: -10px;
  top: -14px;
  background: transparent url("../img/sprite.png") no-repeat -206px -19px;
  border-radius: 50%;
}

.thermometr-paragraph::before {
  position: absolute;
  content: "";
  left: -10px;
  top: -14px;
  width: 49px;
  height: 49px;
  background: transparent url("../img/sprite.png") no-repeat -766px -19px;
  border-radius: 50%;
}

.production-wrapper {
  display: flex;
  justify-content: space-between;
}

.production-item {
  width: 540px;
  padding-left: 10px;
}

.blog {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  padding: 0;
  margin-bottom: 38px;
}

.blog h3 {
  display:none;
}

.blog-info {
  box-sizing: border-box;
  font-size:16px;
  line-height:22px;
  background: url("../img/strawberry_bg.jpg") no-repeat 0 0;
  max-width: 560px;
  min-height:220px;
  color:#323232;
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 5px;
  padding-right:240px;
}

.blog-info p {
  margin-bottom: 3px;
}

.blog-info a {
  box-sizing: border-box;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  
}

.blog-wrapper {
  background-color: #ffffff;
   background-image: repeating-linear-gradient(-45deg, #92cdff 0px,#92cdff 9px, transparent 9px,transparent 17px, #fe9e90 17px,#fe9e90 25px, transparent 25px,transparent 35px);
  border-radius: 15px;
  width: 560px;
  height: 220px;
}

.blog .blog-form {
  position: absolute;
  top: 5px;
  right: 5px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  background: #ffffff;
  max-width: 550px;
  min-height: 210px;
  color: #323232; 
  padding-top: 9px;
  padding-left: 23px;
  border-radius: 15px;
}

.blog-form p {
  margin-bottom: 33px;
  padding-right: 15px;
}

 .blog-form .news-form {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  border-radius: 10px;
}

.blog-form input[type="email"] {
  width: 370px ;
}

.blog-form button[type="submit"] {
  font-weight: bold;
  line-height: 24px;
  font-size: 18px;
  background-color: red;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  color: #ffffff;  
  padding: 10px;
  min-width: 130px;
  margin-right: 17px;
}

.blog-form button[type="submit"]:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.blog-form button[type="submit"]:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.about-us h3 {
  display: none;
}

.about-us {
  position: relative;
  width: 1200px;
  height: 430px;
  margin-left: -26px;
  margin-bottom: 26px;
}

.our-adress {
  position: absolute;
  top: 60px;
  right: 33px;
  box-sizing: border-box;
  line-height: 20px;
  font-size: 14px;
  min-width: 290px;
  height: 304px;
  background-color: #ffffff;
  border-radius: 15px;
  color: #323232; 
  padding-top: 5px;
  padding-left:	25px;
}

.our-adress p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.our-adress p:first-child {
  padding-top: 10px;
  margin-bottom: -10px;
}

.our-adress b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0;
}

.our-adress p:nth-child(3) {
  padding-top: 0;
  margin-bottom: -5px;
}

.our-adress p:nth-child(4) {
  margin-bottom: -10px;
}

.our-adress p:nth-child(5) {
  margin-bottom: 30px;
}

.our-adress a {
  text-decoration: none;
  color: #323232;
}

.about-us .feedback-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-color: red;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  color: #ffffff ;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  padding: 10px 25px;
  margin-left: 8px; 
}

.about-us .feedback-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.about-us .feedback-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.modal-wrapper {
  position: relative;
  float: right;
}

.modal-content {
  box-sizing: border-box;
  width: 475px;        
  padding: 20px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
}

.modal-content-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 1px;
  width: 19px;
  height: 2px;
  background-color: #323232;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #323232;
  background-color: #ffffff;
}

.feedback-form b {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  display: block;
  line-height: 24px;
  border-radius: 5px;
  width: 265px;
  margin-bottom:20px;
}

.feedback-form textarea {
  width: 430px;
  height: 155px;
  border-radius: 5px;
  margin-bottom: 20px;
}


.feedback-form input[type="submit"] {
  position: relative;
  top: 0;
  left: 300px;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  width: 135px;
  color: #ffffff;
  background-color: red;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  padding: 12px 18px;
  padding-right: 22px;
  
  margin-right: 10px;
}

.feedback-form input[type="submit"]:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.feedback-form input[type="submit"]:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover {
  border:2px solid #c7c6c5;
  margin-bottom: 20px;
}

.feedback-form textarea:hover {
  border:2px solid #c7c6c5;
  margin-bottom: 18px;
}

.modal-name + label { 
  position: absolute;
  top: 80px;
  left: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  
}

.modal-email + label { 
  position: absolute;
  top: 130px;
  left: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.modal-suggestions + label { 
  position: absolute;
  top:180px;
  left: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.modal-name:hover + label { 
  position: absolute;
  top: 60px;
  left: 30px;
  font-size: 11px;
  line-height: 13px;
  color: #999999;
  
}

.modal-email:hover  + label { 
  position: absolute;
  top: 110px;
  left: 30px;
  font-size: 11px;
  line-height: 13px;
  color: #999999;
}
 
.modal-suggestions:hover + label { 
  position: absolute;
  top: 160px;
  left: 30px;
  font-size: 11px;
  line-height: 13px;
  color: #999999;
}

.modal-name:focus + label { 
  position: absolute;
  top: 60px;
  left: 30px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;  
}

.modal-email:focus  + label { 
  position: absolute;
  top: 110px;
  left: 30px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}
 
.modal-suggestions:focus + label { 
  position: absolute;
  top: 160px;
  left: 30px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}


.form-sorting {
  position: relative;
  max-width: 870px;
  margin-bottom: 10px;
}

.form-sorting fieldset {
  display: inline-block;
  border-radius: 25px;
  background-color: #aabbb1;
  font-size: 16px;
  line-height: 18px;
  padding: 5px 10px;
  margin-bottom: 35px;
  margin-left: 0;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 10px;
  margin-left: 10px;
  
}
main h1{
  margin-top: 0;
  margin-bottom: 50px;
  
}

.sort {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 14px;
  line-height: 16px;
}

.sorting-item {
  width: 170px;
  margin-left: 0;
  margin-right: 250px;
  text-align: center;
}

.sorting-item select {
  color: #ffffff;
  background: inherit;
}

.sorting-item:hover select {
  color: #323232;
}

.sorting-price {
  position:absolute;
  top: -5px;
  left: 210px;
  width: 200px; 
  margin-right: 20px;
  text-align: center;  
}

range-filter {
  width: 190px;
}

.range-controls {
  position: relative;
  height: 15px;
  padding-top: 13px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  background: transparent;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #ffffff;
}

.range-controls .toggle {
   position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 80px;
}

.range-controls .toggle-max {
  left: 135px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 35px;
  padding: 8px 10px;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

.min-price {
  position: absolute;
  top: -30px;
  left: 40px;
}

.max-price{
  position: absolute;
  top: -30px;
  left: 120px;
}

.sort-price {
  top: -20px;
  left: 240px;
}

 .sorting-fatness {
  width: 390px;
  margin-right: 0; 
}

.sort-fatness {
  top: -20px;
  left: 500px;
}

.sort-fillers {
  top: 40px;
  left: 0;
}

.sorting-fatness input + label {
  position: relative;
  margin-right: 20px;
  padding-left: 25px;
}

.sorting-fatness .radio-marg-two {
  margin-right: 40px;
}


.sorting-fatness .radio-marg-three {
  margin-right: 40px;
}

.sorting-fatness input + label::before {
   content: "";
   position: absolute;
   top: 2px;
   left: 5px;
   width: 7px;
   height: 7px;
   border-radius: 50%;
   box-shadow: 0px 0px 0px 3px #ffffff;
   background-color: transparent;
   border: 3px solid rgba(143,166,153, 0.6);
   cursor: pointer;
}

.sorting-fatness input + label:hover::before {
   box-shadow: 0px 0px 0px 4px #ffffff;
}

.sorting-fatness input {
  display: none;
}

.sort-radio:checked + label::before {
   background-color: #ffffff;  
}

.sorting-fillers {
  width: 680px;
  margin-right: 15px;
}

.sorting-fillers input {
  display: none;
  color: #ffffff;
}

.sorting-fillers input + label {
  position: relative;
  margin-left: 20px;
  margin-right: 25px;
}

.sorting-fillers .check-marg-two{
  margin-right: 30px;
}

.sorting-fillers input + label::before {
   content: "";
   position: absolute;
   top: 2px;
   left: -17px;
   width: 7px;
   height: 7px;
   border-radius: 2px;
   box-shadow: 0 0 0 2px #ffffff;
   background-color: transparent;
   border: 3px solid transparent;
   cursor: pointer;
}

.sorting-fillers input + label::after {
   content: "";
   position: absolute;
   display: none ;
   top: -1px;
   left: -16px;
   width: 7px;
   height: 7px;
   border: 2px solid #ffffff;
   border-left-color: transparent;
   border-top-color: transparent;
   transform: rotate(35deg);  
}

.sorting-fillers input:checked + label::after {
   display: block;
}


.sorting-fillers input + label:hover::before {
   box-shadow: 0px 0px 0px 3px #ffffff;
}

.sorting-fillers input + label:hover::after {
    border: 3px solid #ffffff;
   border-left-color: transparent;
   border-top-color: transparent;
   transform: rotate(35deg)
}

.btn-sort {
  color: #ffffff;
  background-color: transparent;
  padding: 7px 20px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  
}

.btn-sort:hover {
  color: #323232;
  background-color: #ffffff;
}

.btn-sort:active {
  color: #323232;
  background-color: #ffffff;
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.page-number {
  float: right;
  display: inline-block;
  width:265px;
  margin-right: 0;
  margin-left: 0;
  
}

.page-number a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-right: 15px;
  text-decoration: none;
}

.page-number .back {
  display: inline-block;
  font-size: 0;
  padding:  0px 9px;
  border: 2px solid #ffffff;
  border-top-color: transparent;
  border-right-color: transparent;
 transform: rotate(45deg) scale(0.5) translate(20px, -30px);
}

.page-number .forward {
  display: inline-block;
  font-size: 0;
  padding: 0 9px;
  border: 2px solid #ffffff;
  border-top-color: transparent;
  border-left-color: transparent;
 transform: rotate(-45deg) scale(0.5) translate(-10px, -20px);;
}


.page-number .active-number {
  padding: 5px 10px;
  width: 10px;
  background-color: #ffffff;
  color: #323232;
  border-radius: 50%;
  margin-right: 1px;
  margin-left: -6px;

}

.page-number .number-two:hover {
  padding: 5px 10px;
  width: 10px;
  background-color: #9db1a5;
  color: #323232;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: -9px;
  
}

.page-number .number-three:hover {
  padding: 5px 10px;
  width: 10px;
  background-color: #9db1a5;
  color: #323232;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: -9px;
  
}

.page-number .number-fore:hover {
  padding: 5px 10px;
  width: 10px;
  background-color: #9db1a5;
  color: #323232;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: -9px;  
}

.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: #849d8f;
  padding-top: 10px; 
  color: #ffffff; 
  width: 1146px;; 
  min-height: 100px;
  padding-left: 0;
  margin: 0;
  
}
.main-footer a:hover {
  color: #ffbc9e;
}

.main-footer a:active {
  color: rgb(255, 188, 158);
}

.footer-social h3 {
  display: none;
}

.main-footer .footer-social {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 65px;
}

.social {
  position:relative;
  font-size: 0;
  width: 32px;
  height: 32px;
  background-color: #849d8f;
  border-radius: 50%;
  border: 2px solid #dae2de;
}

.social-tw {
  background:url("../img/sprite.png") no-repeat -903px -19px;    
  margin-left: 0;
  margin-right: 10px;
}

.social-tw:hover {
  background: url("../img/sprite.png") no-repeat -1016px -10px;    
}

.social-inst {
  background: url("../img/sprite.png") no-repeat -640px -19px;
  margin-right: 10px;
}

.social-inst:hover {
  background: url("../img/sprite.png") no-repeat -61px -10px;
}

.social-fb {
    
  background: url("../img/sprite.png") no-repeat -356px -19px ;
  margin-right: 10px;
}

.social-fb:hover {
  background: url("../img/sprite.png") no-repeat -9px -10px ;
}

.social-vk {
  background: url("../img/sprite.png") no-repeat -955px -19px;
  margin-right: 0;
   
}

.social-vk:hover {
  background: url("../img/sprite.png") no-repeat -1069px -10px ;
}

.social:active {
  box-shadow: inset 0px 2px 1px 0px #888888;  
}

.documentation-unit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 360px; 
  height: 40px;
  margin-right: 2px;
}

.doc-item {
  position: relative;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.for-suppliers::before {
  position: absolute;
  left: -20px;
  content: "";
  width: 15px;
  height: 13px;
  background:  url("../img/sprite.png") no-repeat  -408px -20px;
}

.copyright {
  width: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  
}

.copyright .btn {
   position: relative;
  bottom: 20px;
  margin-bottom: 20px;
  }

.copyright a {
 
  color: #ffffff;
  min-width: 190px;    
}

.copyright p,
p > .btn-text {
  font-size: 12px;
  line-height: 18px;
}

.copyright p {
  position: relative;
  bottom: 47px;
  left: 12px;
}



