html,
body {
  margin: 0;
  padding: 0;
}

body {
	font-size: 14px;
	font-family: "Roboto","Arial", sans-serif;
	line-height: 28px;
	color:#ffffff;
	background:#849d8f url('../img/ice_main.png') no-repeat 60% 0%;
 }
.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-page {
	padding-top:18px;
	padding-bottom:0;
	margin-bottom:0;
	color:#ffffff;
	font-weight: bold;
  line-height: 16px;
	font-size:14px;
}

.header-page a{
	color:#ffffff;
	font-weight: bold;
  line-height: 18px;
	font-size:16px;
	text-decoration:none;
	list-style-type:none;
}

.main-navigation {
	float:left;
	width: 560px; 
  height: 70px;
}
.index-logo{
	float:left;
	padding-left:0;
	margin:0;
}
.main-navigation ul {
	float:right;
	
}
.main-navigation ul li{
	display:inline;
	padding-left:20px;
	
}


.user-block {
	float: right;
	width: 265px;
  min-height: 70px;
	text-align:right;
}
.search-form,
.login-form,
.sub-menu{
	display:none;
}

.user-block a{
	display:inline-block;
	padding:15px 25px;
}
.user-block a:first-child{
	padding-left:0;
	padding-right:0;
}
.user-info {
	position:absolute;
	right:70px;
	top:60px;
}
.user-info p{
	margin-right:30px;
	margin-bottom:-10px;
	padding-bottom:0;
}
.user-info a{
	margin-top:0;
	line-height:24px;
	font-size:22px;
}
.slider-bar{
	width:100%;
	
	


}
.slider-bar h3{
	display:none;
}
.slider-item h2{
	line-height:60px;
	font-size:60px;
}
.slider-item{
	width:670px;
	margin:300px auto;
	margin-bottom:30px;
}
.slider-item a{
	
	color:#ffffff;
	text-decoration:none;
	font-size:32px;
	line-height:44px;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border-radius:50px;
	padding:20px 40px;
	margin-left:200px;
}



.promotional-offers{
	
}
.promotional-offers h3{
	margin-top:0px;
	font-size:35px;
	line-height:41px;
	margin-bottom:50px;
}

.promotional-offers p{
	font-size:18px;
	line-height:22px;
	
}
.promotional-offers a{
	color:#ffffff;
	text-decoration:none;
	font-size:18px;
	line-height:24px;
	background-image:linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border-radius:50px;
	padding:10px 20px;
	margin-left:350px;

}

.promotional-offers h2,
.index-content h2{
	display:none;
}

.promotional-left{
	width:560px;
	height:230px;
	float:left;
	background:url('../img/raspberry_bg.jpg') no-repeat ;
	border-radius:15px;
}

.promotional-right{
	width:560px;
	height:230px;
	float:right;
	background:url('../img/chocolate-bg.jpg') no-repeat ;
	border-radius:15px;
}
.promotional-item{
	margin:0;
	padding-top:25px;
	padding-left:20px;
}

.promotional-item p{
	width:510px;
}





.index-content{
	padding-top:40px;
	width:1146px;
}

.catalog-item{
	position:relative;
	display:inline-block;
	width:267px;
	margin-right:20px;
}

.catalog-item:last-child{
	margin-right:0;
}	

.catalog-item img{
	padding:0;
	margin:0;
	border-radius:50%;
	
}

.catalog-item span{
	position:absolute;
	top:190px;
	left:0;
	font-size:45px;
}
.catalog-item p{
	padding-left:10px;
	text-align:center;
}
	
.hit::before{
  content:"";
  position:absolute;
  width:61px;
  height:61px;
  background:#ffffff url("../img/hit.png") no-repeat;
  border-radius:50%;
	 
 }
  
.catalog-item a{
	display:none;
}

.our-production{
	padding:20px;
	width:1146px;
	height:310px;
	background:url("../img/f_fon.jpg");
	border-radius:15px;
	color:#323232;
}  
.our-production h2{
	font-size:24px;
	line-height:30px;
}
.our-production p{
	position:relative;
	font-size:16px;
	line-height:22px;
	padding-left:40px;
}

.our-production p:first-child::before{
content:"";
position:absolute;
background:url("../img/ice.png") no-repeat;
top:0;
left:0;
}
/*необходимо доделать картинки на псевдо-элементах*/
.production-item{
	width:540px;
	float:left;
	padding-left:10px;
}
.production-item:nth-child(2){
	float:right;

}
/*оформляем блог*/
.blog{
	color:#323232;
	font-size:16px;
	line-height:22px;
	padding:0px;
	margin-top:40px;
	
}

.blog h3{
	display:none;
}

.blog-info{
	float:left;
	background:url("../img/strawberry_bg.jpg") no-repeat 0 0;
	border-radius:15px;/*не закругляет углы у картинки*/
	width:560px;
	height:220px;
	color:#323232;
	font-size:16px;
	line-height:22px;
	padding:20px;
}

.blog-info a{
	font-size:24px;
	line-height:30px;
}

.blog-form{
	position:relative;
	float:right;
	background-color:#ffffff;
	border-radius:15px;
	width:550px;
	height:210px;
	color:#323232;
	font-size:16px;
	line-height:22px;
	padding:20px;
	border-radius:15px;
	width:530px;
	height:180px;
}


.blog-form::after{
	position:absolute;
	content:"";
	top:-5px;
	left:-5px;
	background:url("../img/mail_bg.jpg");
	border-radius:15px;
	width:580px;
	height:230px;
	z-index:-5;
}

.news-form .btn{
	color:#ffffff;
	line-height:24px;
	font-size:18px;
	font-weight:bold;
	background-image:linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);/*доделать форму*/
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border-radius:50px;
	padding:10px 20px;
}

.about-us h3{
	display:none;
}

.about-us{
	position:relative;
	width:1200px;
	height:430px;
}

.our-adress{
	position:absolute;
	top:60px;
	right:30px;
	width:290px;
	height:304px;
	background-color:#ffffff;
	border-radius:15px;
	color:#323232;
	line-height:20px;
	font-size:14px;
	padding-top:30px;
	padding-left:	25px;
	
}

.our-adress b{
	font-size:18px;
	line-height:24px;
	font-weight:bold;
	margin-bottom:10px;
	
}

.our-adress a{
	text-decoration:none;
	color:#323232;
}

.feedback-btn{
	
	background-image:linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);/*доделать форму*/
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border-radius:50px;
	padding:10px 20px;
	color:#ffffff !important;
	font-size:18px;
	line-height:24px;
	font-weight:bold;
}

.feedback-form{
	display:none;
}

.main-footer{
	height:100px;
	
}

.footer-social h3{
	display:none;
}

.footer-social{
	float:left;
}
.documentation-unit{
	float:left;
}

.copyright{
	float:right;
}
.social-btn{
	width:32px;
	height:32px;
	padding-bottom:20px;
	font-size:1px;
}
.social-tw::before{
	background:url("../img/tw.png") no-repeat;
}
.social-inst{
	background:url("../img/insta.png") no-repeat;
}
.social-fb{
	background:url("../img/fb.png") no-repeat;
}
.social-vk{
	background:url("../img/vk.png") no-repeat;
}