/*.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}

.sprite-cow {
    width: 48px;
    height: 49px;
    background-position: -10px -50px;
}

.sprite-enter {
    width: 21px;
    height: 19px;
    background-position: -10px -119px;
}

.sprite-fb {
    width: 32px;
    height: 32px;
    background-position: -10px -158px;
}

.sprite-github {
    width: 30px;
    height: 30px;
    background-position: -10px -210px;
}

.sprite-gmail {
    width: 30px;
    height: 30px;
    background-position: -10px -260px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -10px -310px;
}

.sprite-html_academy {
    width: 108px;
    height: 38px;
    background-position: -10px -343px;
}

.sprite-ice {
    width: 49px;
    height: 49px;
    background-position: -10px -401px;
}

.sprite-insta {
    width: 32px;
    height: 32px;
    background-position: -10px -470px;
}

.sprite-linkedin {
    width: 30px;
    height: 30px;
    background-position: -10px -522px;
}

.sprite-magnifier {
    width: 17px;
    height: 17px;
    background-position: -10px -572px;
}

.sprite-sheet {
    width: 49px;
    height: 49px;
    background-position: -10px -609px;
}

.sprite-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -10px -678px;
}

.sprite-thermometer {
    width: 48px;
    height: 49px;
    background-position: -10px -728px;
}

.sprite-tumblr {
    width: 30px;
    height: 30px;
    background-position: -10px -797px;
}

.sprite-tw {
    width: 32px;
    height: 32px;
    background-position: -10px -847px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -10px -899px;
}

.sprite-vk {
    width: 32px;
    height: 32px;
    background-position: -10px -949px;
}
*/
body {
	font-size: 14px;
	font-family: "Roboto","Arial", sans-serif;
	line-height: 28px;
	color:#ffffff;
	background-color:#849d8f;
	min-width:1200px;

 }
 .header-page {
	color:#ffffff;
	font-weight: bold;
  line-height: 16px;
	font-size:14px;
	padding:0 30px;
	margin-bottom:60px;
	display:flex;

}
.main-navigation {
	display:flex;
	width: 560px; 
  height: 70px;
}

.user-block {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width: 265px;
	padding-top:20px;
	margin-left: auto;
	}

.header-layout{
	display:flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap:wrap;
}

.header-page a{
	color:#ffffff;
	font-weight: bold;
  line-height: 18px;
	font-size:16px;
	text-decoration:none;
	z-index:200;

}




.main-navigation {
	display:flex;
	}
.index-logo{
	margin-right:0;
	padding-right:10px;

}
.main-navigation>ul{
	
	margin:0;
	padding:0;
	padding-top:20px;
	padding-left:10px;
	display:flex;
	justify-content: space-between;
	}
.main-navigation>ul>li{
	margin-right:30px;
	list-style-type:none;
	padding-right:0px;
	position:relative;
	}
.main-navigation>ul>li:last-child{
	margin-right:0;
	}
.main-navigation>ul>li:hover{
	border:1px solid #323232;
	border-radius:20px;								/*не знаю как уменьшить отступ у кнопок главного меню*/
	padding:5px 15px;
	background-color:#ffffff;
	
	
}
.main-navigation a{
	text-decoration:underline;
}
.main-navigation >ul li:hover a{
	
	color:#323232;
}
	.main-navigation .sub-menu{
	 position: absolute;
	 top:45px;
	 left:0;
    margin: 0;
    padding: 0;
		width:150px;
    list-style: none;
    background-color: #ffffff;
		border-radius:5px;
		box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
		display:none;
		
}
.main-navigation .sub-menu li{
	padding:0;
	padding-bottom:15px;
	

}

.main-navigation .sub-menu a{
	color: #323232;
	font-weight:300;
	text-decoration:none;
	padding-left:20px;
	
	
	
}
 .sub-menu li:first-child a{
	font-weight:bold;
	padding-bottom:0;
	border-bottom:1px solid gray;
 }

.main-navigation  ul> li:hover  .sub-menu{
	
	display:block;
}
.main-navigation .sub-menu li:hover{
	background-color:#fbded7;
}





.user-info {
	padding-left:90px;
}


.user-block a{
	text-align:left;
}

.user-info a{
	line-height:24px;
	font-size:22px;
}
	.search-form,
 .login-form{
	display:none;
}
.users{
	position:relative;
	background-color:#9db1a5;
	padding:10px;
	font-size:1px;
}
.users::before {
	position:absolute;
	left:5px;
  content: "";
	width: 18px;
  height: 18px;
	
}
/*.sprite {
    background-image: url(spritesheet.png);
    
.sprite-magnifier {
    width: 17px;
    height: 17px;
    background-position: -10px -572px;
}


*/
.user-search{
	background: #9db1a5 url("../img/spritesheet.png") no-repeat -10px -572px;
}
/*основное содержание*/


main{
	margin-bottom:350px;
	padding:0 25px;
}

.slider-bar{
	position:relative;
	width:1045px;
	height:600px;
	z-index:-1;
}
.slider-info{
	position:absolute;
	bottom:40px;
	left:100px;
	
}
.slider-item1{
		background:#849d8f url('../img/ice_main.png') no-repeat 60% 0%;
}
.slider-item2{
		background:#849d8f url('../img/ice_main1.png') no-repeat 60% 0%;
		display:none;
}
.slider-item3{
		background:#849d8f url('../img/ice_main2.png') no-repeat 60% 0%;
		display:none;
}

.slider-bar h3{
	display:none;
}
.sliders h2{
	margin-top:400px;
	margin-left:100px;
	line-height:60px;
	font-size:60px;
	text-align:center;
}
.wrapper{
	position:relative;
}
.sliders{
	position:absolute;
	top:-120px;
	left:0;
	width:100%;
	height:881px;
	float:left;

	margin-bottom:0px;

}

.radio-slider{
	position:absolute;
	bottom:0;
	z-index:1000;																																								/*ѕ≈–≈ Ћё„ј“≈Ћ»*/
}
.sliders a{
	
	color:#ffffff;
	text-decoration:none;
	font-size:32px;
	line-height:44px;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border-radius:50px;
	padding:20px 40px;
	margin-left:400px;
}








.promotional-offers{
	display:flex;
	justify-content:space-between;
}
.promotional-offers h3{
	margin-top:0px;
	font-size:35px;
	line-height:41px;
	margin-bottom:50px;
}

.promotional-offers p{
	font-size:18px;
	line-height:22px;
	
}
.promotional-offers a{
	color:#ffffff;
	text-decoration:none;
	font-size:18px;
	line-height:24px;
	background-image:linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border-radius:50px;
	padding:10px 20px;
	margin-left:350px;

}

.promotional-offers h2,
.index-content h2{
	display:none;
}

.promotional-left{
	width:560px;
	height:230px;
	
	background:url('../img/raspberry_bg.jpg') no-repeat ;
	border-radius:15px;
}

.promotional-right{
	width:560px;
	height:230px;
	
	background:url('../img/chocolate-bg.jpg') no-repeat ;
	border-radius:15px;
}
.promotional-item{
	margin:0;
	padding-top:25px;
	padding-left:20px;
}

.promotional-item p{
	width:510px;
}





.index-content{
	padding-top:40px;
	width:1200px;
	display:flex;
	justify-content:space-between;
}

.catalog-item{
	position:relative;
	
	width:267px;
	margin-right:20px;
}

.catalog-item:last-child{
	margin-right:0;
}	

.catalog-item img{
	padding:0;
	margin:0;
	border-radius:50%;
	
}

.catalog-item span{
	position:absolute;
	top:190px;
	left:0;
	font-size:45px;
}
.catalog-item p{
	padding-left:10px;
	text-align:center;
}
	
.hit::before{
  content:"";
  position:absolute;
  width:61px;
  height:61px;
  background:#ffffff url("../img/hit.png") no-repeat;
  border-radius:50%;
	 
 }
  
.catalog-item a{
	display:none;
}

.our-production{
	padding:20px;
	width:1146px;
	height:310px;
	background:url("../img/f_fon.jpg");
	border-radius:15px;
	color:#323232;
}  
.our-production h2{
	font-size:24px;
	line-height:30px;
}
.our-production p{
	position:relative;
	font-size:16px;
	line-height:22px;
	padding-left:40px;
}

.our-production p:first-child::before{
content:"";
position:absolute;
background:url("../img/ice.png") no-repeat;
top:0;
left:0;
}
/*необходимо доделать картинки на псевдо-элементах*/
.production-item{
	width:540px;
	float:left;
	padding-left:10px;
}
.production-item:nth-child(2){
	float:right;

}
/*оформл€ем блог*/
.blog{
	color:#323232;
	font-size:16px;
	line-height:22px;
	padding:0px;
	margin-top:40px;
	
}

.blog h3{
	display:none;
}

.blog-info{
	float:left;
	background:url("../img/strawberry_bg.jpg") no-repeat 0 0;
	border-radius:15px;/*не закругл€ет углы у картинки*/
	width:560px;
	height:220px;
	color:#323232;
	font-size:16px;
	line-height:22px;
	padding:20px;
}

.blog-info a{
	font-size:24px;
	line-height:30px;
}

.blog-form{
	position:relative;
	float:right;
	background-color:#ffffff;
	border-radius:15px;
	width:550px;
	height:210px;
	color:#323232;
	font-size:16px;
	line-height:22px;
	padding:20px;
	border-radius:15px;
	width:530px;
	height:180px;
}


.blog-form::after{
	position:absolute;
	content:"";
	top:-5px;
	left:-5px;
	background:url("../img/mail_bg.jpg");
	border-radius:15px;
	width:580px;
	height:230px;
	z-index:-5;
}

.news-form .btn{
	color:#ffffff;
	line-height:24px;
	font-size:18px;
	font-weight:bold;
	background-image:linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);/*доделать форму*/
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border-radius:50px;
	padding:10px 20px;
}

.about-us h3{
	display:none;
}

.about-us{
	position:relative;
	width:1200px;
	height:430px;
}

.our-adress{
	position:absolute;
	top:300px;
	right:30px;
	width:290px;
	height:304px;
	background-color:#ffffff;
	border-radius:15px;
	color:#323232;
	line-height:20px;
	font-size:14px;
	padding-top:30px;
	padding-left:	25px;
	
}

.our-adress b{
	font-size:18px;
	line-height:24px;
	font-weight:bold;
	margin-bottom:10px;
	
}

.our-adress a{
	text-decoration:none;
	color:#323232;
}

.feedback-btn{
	
	background-image:linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);/*доделать форму*/
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border-radius:50px;
	padding:10px 20px;
	color:#ffffff !important;
	font-size:18px;
	line-height:24px;
	font-weight:bold;
}

.feedback-form{
	display:none;
}


